<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654714003427-tfv5816g8lqj748ls5j7juvqfs957rpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654714003427-tfv5816g8lqj748ls5j7juvqfs957rpl</string>
	<key>API_KEY</key>
	<string>AIzaSyDziw11lFNZ0wx2Lg28y78Y2kKXuAgEMsU</string>
	<key>GCM_SENDER_ID</key>
	<string>654714003427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nnnf.Submarine</string>
	<key>PROJECT_ID</key>
	<string>first-diploma-project</string>
	<key>STORAGE_BUCKET</key>
	<string>first-diploma-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654714003427:ios:499a424434309588a60ad6</string>
</dict>
</plist>